name: Scala CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build and Test
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
        scala: [2.12.21, 3.7.4]
        java: ['21', '25']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
          cache: sbt
      - uses: sbt/setup-sbt@v1
      - name: Run tests
        shell: bash
        run: sbt ++${{ matrix.scala }} test
      - name: Run scripted tests
        shell: bash
        run: sbt ++${{ matrix.scala }} scripted